.app-toolbar {
    position: fixed;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.not-completed-container {
    display: grid;
    justify-items: center;
    align-items: center;

    grid-template-columns: 1fr 1fr 1fr;
}

.not-completed-message {
    grid-column: 2/3;
    grid-row: 2/3;
}

.results-container {
    display: grid;
    justify-items: center;
    align-items: center;

    grid-template-columns: 1fr;
}

.eyeballed-class-container {
    display: grid;
    justify-items: center;
    align-items: center;

    // grid-template-rows: minmax(250px, auto);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    margin: 1em;
}

.result-card {
    max-width: 100%;
}

.result-card:hover {
    background-color: #f5f5f5;
}

.result-card:hover img {
    opacity: .5;
}

// .result-card:hover div {
//     display: block;
// }

.result-card > div {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    z-index: 10;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.fill-space {
    flex: auto;
}

.label-count {
    margin-left: 10px;
}

.include-button {
  background-color: #3fa600;
}

.include-button:disabled {
  background-color: #006802;
}

.reject-button {
  background-color: red;
}

.reject-button:disabled {
  background-color: #700000;
}

.img-container {
  position: relative;
  text-align: center;
  color: white;
}

.preview-image {
  width: 100%;
}

.webapp-label {
  background-color: blue;
  color: white;
  margin-left: 1px;
  margin-right: 1px;
}
.old-looking-label {
  background-color: green;
  color: white;
  margin-left: 1px;
  margin-right: 1px;
}
.login-label {
  background-color: purple;
  color: white;
  margin-left: 1px;
  margin-right: 1px;
}
.custom-404-label {
  background-color: orange;
  color: white;
  margin-left: 1px;
  margin-right: 1px;
}
.parked-label {
  background-color: red;
  color: white;
  margin-left: 1px;
  margin-right: 1px;
}
