.App {
  text-align: center;
}

.App-logo {
  height: 100px;
}

.App-header {
  background-color: #222;
  height: 170px;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: large;
}

.thumbnail {
  height: 280px;
  width: 480px;
}
